button {
	-fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: rgb(63,191,191);
}

menu-item {
	-fx-font: 16px "Serif";
	-fx-font-color: white;
    -fx-padding: 10;
    -fx-background-color: rgb(63,191,191);
}