.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}


.menu-bar{
  -fx-background-color: rgb(55,255,221);
  -fx-border-color:  #f0cd90;
  -fx-border-width: white
}

.menu-bar .label {
    -fx-font-size: 25 pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #dedede;

}


.menu:hover {
    -fx-background-color: rgb(55,255,221);
}

.menu-item .label{
    -fx-font-weight: bold;
    -fx-background-color: rgb(55,255,221);
}

.menu .label
{
     -fx-text-fill: white;
}
